<title>Merisää</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<body>
  <ul>
    {{#each entries}}
      <li>
        <a href="/{{key}}">{{name}}</a>
      </li>
    {{/each}}
  </ul>
</body>